.head-style {
	background: #272b2f !important;
}

.heading-style{
	color: white !important;
}

.heading-style:hover {
	color: red !important;
}

..dropdown-border{
	border: 0 !important;
}

.footer{
	background-color: #08090a;
	margin-top:40px;
	vertical-align: middle;
}

.footer p{
	color: #ffffff;
	padding: 5px 15px;
	text-align: center;
	font-style: italic;
	font-size: 11px;
}
.footer p > span{
	color: #f27826;
}
