.head-style {
	background: #272b2f !important;
}

.heading-style{
	color: white !important;
}

.heading-style:hover {
	color: red !important;
}

..dropdown-border{
	border: 0 !important;
}

.footer{
	background-color: #08090a;
	margin-top:40px;
	vertical-align: middle;
}

.footer p{
	color: #ffffff;
	padding: 5px 15px;
	text-align: center;
	font-style: italic;
	font-size: 11px;
}
.footer p > span{
	color: #f27826;
}


/* Login & Register pages styles*/
.register-top-login {
	margin-top:100px;
}

.register-top {
	margin-top:30px;
}

.register-container { 
	background-color: rgba(255,255,255,0.8); 
	border: 1px solid #dedede; 
	border-radius: 8px; 
	margin:  0 auto; 
	padding: 30px;
}

.tb-padding { 
	padding-bottom:5px; 
	padding-top:5px;
}

.no-padding {
	padding: 0;
}

.margin-style {
	margin-top: 2px;
}

.text-color {
	color: #01c3ff;
}

a.forgot-link {
	color: #51595e;
	text-decoration: none;
}

a.forgot-link:hover {
	color: #01c3ff;
}
